/****** PLACE YOUR CUSTOM STYLES HERE ******/

a {
	color: #474553;
	text-decoration: underline;
}

a.btn,
nav a,
footer a {
	text-decoration: none;
}

.menu > li ul {
	width: 220px;
}

.vnu {
	display: none;
}